Auton(
    required: {
        "Taxi": false
    },
    pieces: {
        "Coral": {
            "L1": 0, 
            "L2": 0, 
            "L3": 0,
            "L4": 0
        },
        "Algae": {
            "Net": 0,
            "Proc": 0,
            "Barge": 0 
        }
    },
)