Teleop(
    pieces: {
        "Coral": {
            "L1": 0,
            "L2": 0,
            "L3": 0,
            "L4": 0
        },
        "Algae": {
            "Net": 0,
            "Proc": 0,
            "Reef": 0,
        }
    },
    endgame: { // Make sure data takes into account category -> values
        "Climb": {
            "Park": false,
            "Fail": false,
            "Shallow": false,
            "Deep": false   
            "Start": 0
        }
    }
)