Teleop(
    coral: {
        l1: 0,
        l2: 0,
        l3: 0,
        l4: 0,
    },
    algae: {
        net: 0,
        proc: 0,
        reef: 0,
    }
    endgame: {
        climb: {
            park: false,
            fail: false,
            shallow: false,
            deep: false   
            start: 0
        }
    }
)