.container {
  background-color: #1b97ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Chewy", cursive, sans-serif;
  padding: 20px;
  height: auto;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  width: 100px;
  height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f34732;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 10px;
}

.label-text {
  font-size: 40px;
  color: #ffffff;
  font-family: "Chewy", cursive;
}

.control-btn {
  background-color: #ffffff;
  width: 50px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
}

.control-text {
  text-align: center;
  font-size: 30px;
  font-family: "Chewy", cursive;
  color: #000000;
}

.counter {
  background-color: #ffffff;
  width: 75px;
  height: 75px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.counter-text {
  font-size: 40px;
  color: #000000;
  text-align: center;
  font-family: "Chewy", cursive;
}
