.teleop-container {
  background-color: #1b97ad;
  padding: 20px;
  min-height: 100vh;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.header {
  background-color: #f34732;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  height: 100px;
}

.header-text {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.nav-button {
  font-size: 40px;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  align-self: center;
}

.scroll-content {
  flex-grow: 1;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.subheader {
  min-width: 125px;
  max-width: 150px;
  height: 75px;
  background-color: #f34732;
  border-radius: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader-text {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

.counter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.postgame-button {
  font-size: 30px;
}

.button-text {
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.submit-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-button {
  width: 20%;
  padding: 15px;
  background-color: #f34732;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-family: sans-serif;
  align-self: center;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f78b76;
}

.empty-state {
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  font-style: italic;
  font-size: 24px;
}

.btn-enabled {
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.btn-disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}
.center {
  align-self: center;
}
